@model CalorieCalculator.Models.CalorieCalculatorModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How many calories do you  need daily </title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
</head>
<form asp-action="Index" method="post" class="background-form">
    <div>
        <label for="Weight">Weight (kg):</label>
        <input type="number" id="Weight" name="Weight" required />
    </div>
    <div>
        <label for="Height">Height (cm):</label>
        <input type="number" id="Height" name="Height" required />
    </div>
    <div>
        <label for="Age">Age:</label>
        <input type="number" id="Age" name="Age" required />
    </div>
    <div>
        <label for="Gender">Gender:</label>
        <select id="Gender" name="Gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div>
        <label for="ActivityLevel">Activity Level:</label>
        <select id="ActivityLevel" name="ActivityLevel" required>
            <option value="1.2">Sedentary</option>
            <option value="1.375">Lightly active</option>
            <option value="1.55">Moderately active</option>
            <option value="1.725">Very active</option>
            <option value="1.9">Super active</option>
        </select>
    </div>
    <button type="submit">Calculate</button>
</form>
